flows.json
[{"id":"58c3fa8d.b16454","type":"tab","label":"FrontDoorAutomation","disabled":false,"info":"Automation for the front door light"},{"id":"63ad1d0e.8e0394","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ec00cb6d.93a148","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"41bda36c.5cd10c","type":"mqtt-broker","z":"","name":"mqtt_broker","broker":"hassio.local","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"374159f1.a5e796","type":"server","z":"","name":"Home Assistant","url":"http://192.168.1.100:8123","pass":"Sleipner27"},{"id":"5ca5a0e2.2455e","type":"git-nodes-config","z":"","name":"Jens Alsig","git":"git@github.com:alsig/nodeRedFlows.git"},{"id":"5dec810a.15e6c","type":"inject","z":"58c3fa8d.b16454","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":500,"y":520,"wires":[["4b033818.32c418"]]},{"id":"b71dec0d.f4ac1","type":"api-call-service","z":"58c3fa8d.b16454","name":"Toggle Light","server":"374159f1.a5e796","service_domain":"light","service":"toggle","data":"{\"entity_id\": \"light.kitchenlight\"}","mergecontext":"","x":770,"y":540,"wires":[[]]},{"id":"4b033818.32c418","type":"delay","z":"58c3fa8d.b16454","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":620,"wires":[["b71dec0d.f4ac1"]]},{"id":"7ac74ad.d1980b4","type":"sun events","z":"58c3fa8d.b16454","testmode":true,"verbose":false,"topic":"","name":"","x":140,"y":60,"wires":[["f6f47aa9.1446e8"]]},{"id":"dc8c1ff7.f3df9","type":"debug","z":"58c3fa8d.b16454","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":380,"wires":[]},{"id":"f6f47aa9.1446e8","type":"debug","z":"58c3fa8d.b16454","name":"sunEvents","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":310,"y":140,"wires":[]},{"id":"d3badd00.bb917","type":"api-call-service","z":"58c3fa8d.b16454","name":"Turn On Frontdoor Light","server":"374159f1.a5e796","service_domain":"light","service":"turn_on","data":"{\"entity_id\": \"light.frontdoor\"}","mergecontext":"","x":810,"y":80,"wires":[[]]},{"id":"53559a40.ed8f84","type":"inject","z":"58c3fa8d.b16454","name":"Turn Off ","topic":"TimerOut","payload":"","payloadType":"date","repeat":"","crontab":"52 21 * * *","once":false,"onceDelay":0.1,"x":160,"y":200,"wires":[["f5ca1198.da2f3","f6f47aa9.1446e8"]],"outputLabels":["Test11"]},{"id":"975f28e6.ec56b8","type":"api-call-service","z":"58c3fa8d.b16454","name":"Turn Off Frontdoor Light","server":"374159f1.a5e796","service_domain":"light","service":"turn_off","data":"{\"entity_id\": \"light.frontdoor\"}","mergecontext":"","x":810,"y":180,"wires":[[]]},{"id":"808e7ec4.ab1d6","type":"switch","z":"58c3fa8d.b16454","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":60,"wires":[[],[]]},{"id":"f5ca1198.da2f3","type":"change","z":"58c3fa8d.b16454","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"TimeOut","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":280,"wires":[[]]},{"id":"8e46adc2.19dbf","type":"and-gate","z":"58c3fa8d.b16454","name":"","rules":[{"topic":"","property":"payload","propertyType":"msg","t":"eq","v":""}],"outputTopic":"","gateType":"and","emitOnlyIfTrue":false,"x":280,"y":560,"wires":[[]]},{"id":"7e9a4769.2f6978","type":"inject","z":"63ad1d0e.8e0394","name":"","topic":"","payload":"","payloadType":"str","repeat":"300","crontab":"","once":false,"x":190,"y":80,"wires":[["545165f7.0964dc"]]},{"id":"545165f7.0964dc","type":"http request","z":"63ad1d0e.8e0394","name":"Recent Quakes","method":"GET","url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_week.csv","tls":"","x":360,"y":80,"wires":[["f1dedde8.fa727"]]},{"id":"f1dedde8.fa727","type":"csv","z":"63ad1d0e.8e0394","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","x":530,"y":80,"wires":[["4011c96b.d4b8e8","ab5c083e.9d8578"]]},{"id":"4011c96b.d4b8e8","type":"debug","z":"63ad1d0e.8e0394","name":"","active":true,"complete":false,"x":690,"y":80,"wires":[]},{"id":"ab5c083e.9d8578","type":"switch","z":"63ad1d0e.8e0394","name":"","property":"payload.mag","propertyType":"msg","rules":[{"t":"gte","v":"7","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":140,"wires":[["fe21ab20.d1bf08"]]},{"id":"fe21ab20.d1bf08","type":"change","z":"63ad1d0e.8e0394","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"PANIC!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":200,"wires":[["285de04d.426ef"]]},{"id":"285de04d.426ef","type":"debug","z":"63ad1d0e.8e0394","name":"","active":true,"complete":false,"x":810,"y":140,"wires":[]},{"id":"a34b101c.e2ec4","type":"inject","z":"ec00cb6d.93a148","name":"","topic":"Topic_1","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":130,"y":120,"wires":[["61cf6996.777bd8"]]},{"id":"d6943987.866f48","type":"debug","z":"ec00cb6d.93a148","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":850,"y":100,"wires":[]},{"id":"cfe3ec8f.40541","type":"switch","z":"ec00cb6d.93a148","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"dusk","vt":"str"},{"t":"eq","v":"timeOut","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":200,"wires":[["d6943987.866f48"],["7838a651.7aad78"]]},{"id":"7838a651.7aad78","type":"debug","z":"ec00cb6d.93a148","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":850,"y":260,"wires":[]},{"id":"fc3e77a2.73ac38","type":"inject","z":"ec00cb6d.93a148","name":"","topic":"Topic_2","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":240,"wires":[["61cf6996.777bd8"]]},{"id":"557c2548.b5029c","type":"debug","z":"ec00cb6d.93a148","name":"dbg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":810,"y":380,"wires":[]},{"id":"61cf6996.777bd8","type":"BooleanLogic","z":"ec00cb6d.93a148","name":"","operation":"AND","inputCount":"2","topic":"And_gate","x":480,"y":200,"wires":[["cfe3ec8f.40541","557c2548.b5029c"]],"inputLabels":["some"]},{"id":"ef9066c6.060708","type":"git-nodes","z":"58c3fa8d.b16454","label":"github","branch":"master","sourcebranch":"master","gitadd":"settings.js,package.json,.config.json,lib","gitrmcache":"nodes/*/x,nodes/*/y,nodes/*/z","debugging":true,"git":"5ca5a0e2.2455e","x":180,"y":380,"wires":[]}]